/* Estilos base para pantallas grandes */
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.50);
}

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    z-index: -10;
}

.centrado {
    display: flex;
    justify-content: center;
    gap: 3em;
}


@media screen and (max-width: 1000px) {


    .background {
        background-size: fixed;
        position: center;
        background-image: url('wallpaper.jpg');
        background-color: rgba(0, 0, 0, 0.50);
    }


    iframe {
        display: none;
    }


    .centrado {
        gap: 1em;
    }

}