/* Estilos base para pantallas grandes */
.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    z-index: -1;
}

.centrado {
    display: flex;
    justify-content: center;
    gap: 3em;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    /* Cambios en el tamaño del fondo */
    .background {
        background-size: cover;
    }

    /* Ajuste del tamaño del iframe */
    iframe {
        transform: scale(3);
    }

    /* Ajuste del espacio entre elementos centrados */
    .centrado {
        gap: 1em;
    }

}
