.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 {
  backdrop-filter: blur(8px);
  background: #00000024;
  width: 250px;
  height: 425px;
  align-items: center;
  border-radius: 15px;
  animation: glow 1.5s linear infinite alternate, floating 2s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 1px #00ff75;
  }
  50% {
    box-shadow: 0 0 25px 7px #00ff75;
  }
  100% {
    box-shadow: 0 0 10px 1px #00ff75;
  }
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.informacion {
  text-align: center;
  font-family: Poppins;
  font-weight: 800;
  color: white;
  margin-top: -5px;
  font-size: 17px;
}

.texto {
  font-family: Poppins;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 0%;
}

.imagen {
  width: 240px;
  height: 256px;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 5px;
}


.btn {
  background-color: transparent;
  border-color: transparent;
  font-size: large;
  cursor: pointer;
}


.btnlike {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 0% 0% 0% 85%;
  margin-top: -31px;
}

/*-------------------------------------------------------------------------------------*/

.close {
  margin-top: 5px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M3 7C3 4.79086 4.79086 3 7 3H17C19.2091 3 21 4.79086 21 7V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V7Z' stroke='%23ffffff' stroke-width='2'%3E%3C/path%3E%3Cpath d='M9 9L15 15M15 9L9 15' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  transition: 200ms;
}

.close:hover{
  transform: scale(1.2);
  transition: 200ms;
}



/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .card2 {
    backdrop-filter: blur(5px);
    width: 250px;
    height: 425px;
  }
}


/*---------------------------------------------------------------------------------------------------------------------*/
.containerlike input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerlike {
  display: block;
  position: flex;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.containerlike input:checked ~ .checkmark path {
  fill: #FF5353;
  stroke-width: 0;
}

.containerlike input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}



@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}