.containermenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
  }

.texto {
    transition: 400ms;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: Poppins;
    font-size: 20px;
    color: white;
}

.textomenu{
    transition: 400ms;
    color: white;
}

.textomenu:hover {
    transition: 400ms;
    color: rgb(43, 255, 0);
}

.logo {
    width: 150px;
    height: fit-content;
    margin: 0%;
    animation: scale 1s ease-in-out infinite alternate;
  }
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
    
  
  .menu-links {
    /* estilos para los enlaces del menú */
  }
  