/* Estilos base para pantallas grandes */
.fuente {
    font-family: Poppins;
    text-align: center;
    font-size: 1.1em;
}

.container {
    text-align: center;
    display: flex;

}

.card {
    font-family: Poppins;
}

.tarjetas {
    margin-top: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    margin-bottom: 2em;
}

.botonesr {
    padding-top: 4em;
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 2em;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    /* Cambios en la disposición de las tarjetas */
    .tarjetas {
        flex-direction: column;
        align-items: center;
    }

    /* Ajuste del margen superior de las tarjetas */
    .tarjetas {
        margin-top: 50px;
    }

    /* Ajuste del espacio entre los botones */
    .botonesr {
        gap: 1em;
    }

    /* Cambios en el tamaño de la fuente */
    .fuente {
        font-size: 1em;
    }

}
