

.card {
  width: 250px;
  height: 350px;
  background-image: linear-gradient(163deg, #00ff75 0%, #5affa4 100%);
  transition: all .3s;
  border-radius: 20px;

}

.card2 {
  width: 250px;
  height: 350px;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: none;
  transition: all .2s;
  border-radius: 20px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0em 0em 3em .5em rgba(0, 255, 119, 0.884);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.informacion {
  text-align: center;
  font-family: Poppins;
  color: white;
  padding-top: 2em;
  font-size: small;
}

.texto {
  font-family: Poppins;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.imagen {
  border-radius: 5% 5% 10% 10%;
  width: 250px;
  height: 206px;
}