

.card {
  width: 250px;
  height: 393px;
  background-image: linear-gradient(163deg, #00ff75 0%, #5affa4 100%);
  transition: all .3s;
  border-radius: 20px;
  box-shadow: 0em 0em .5em .1em rgba(0, 255, 119, 0.9);
  animation: floating 3s ease-in-out infinite;

}

.card2 {
  width: 250px;
  height: 393px;
  align-items: center;
  background-color: #101010;
  border-radius: none;
  transition: all .2s;
  border-radius: 15px;
}

.card2:hover {
  transform: scale(0.95);
}

.card:hover {
  transform: scale(0.5);
  border-radius: 10px;
  box-shadow: 0em 0em 2em .8em rgba(0, 255, 119, 0.7);

}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.informacion {
  margin-top: -45px;
  text-align: center;
  font-family: Poppins;
  color: white;
  padding-top: 2em;
  font-size: 17px;
}

.texto {
  font-family: Poppins;
  text-align: center;
  color: white;
  font-size: 13px;
  margin: 0%;
}

.imagen {
  border-radius: 5% 5% 7% 7%;
  width: 250px;
  height: 256px;
}


.btn {
  /* margin-top: 3%;
  margin-left: 4%;
  padding: 0%; */
  background-color: transparent;
  border-color: transparent;
  font-size: large;
  cursor: pointer;
}