.fuente {
    font-family: Poppins;
    text-align: center;
    font-size: 1.1em;
}

.container {
    text-align: center;
    display: flex;

}

.card {
    font-family: Poppins;
}

.tarjetas {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 2em;
    padding-top: 2em;
}

.botonesr {
    padding-top: 4em;
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 2em;
}