.fuente {
    font-family: Poppins;
    text-align: center;
    font-size: 1.1em;
}

.container {
    align-items: center;
    position: absolute;
}

.card {
    font-family: Poppins;
    text-align: center;
}