.content {
    position: fixed;
    background-position: center;
    background-size: cover;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100vw;
    height: 100vh;
    z-index: -5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    z-index: -10;
}

.logo {
    width: 25em;
    height: fit-content;
    margin: 0%;
    animation: scale 1s ease-in-out infinite alternate;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* @media only screen and (max-width: 768px){
    .logo{
    width: 25em;
    height: fit-content;
    justify-content: center;
    align-items: center;

    }
} */
/*----------------------------------------------------------------------------------------------*/
.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    padding: 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #00000024;
    backdrop-filter: blur(8px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.161);
    border-radius: 5%;
    color: #fff;
    font-family: Poppins;
}

.userbox {
    position: relative;
}

.userbox input {
    width: 100%;
    padding: none;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    transition: .5s;
}

/* .userbox label {
    position: absolute;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    -webkit-transition: .5s;
    transition: .5s;
} */


.userbox input:focus ~ label,
.userbox input:valid ~ label {
    /* top: -20px; */
    /* left: 0; */
    color: #bdb8b8;
    font-size: 12px;
}
.error {
    color: red;
    font-family: Poppins;
    font-size: 25px;
}